$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$i-Path-1371: "\e948";
$i-swap_horiz-24px-1: "\e93a";
$i-Group-1543: "\e93b";
$i-Group-1538: "\e93c";
$i-arrow-drop-up: "\e938";
$i-arrow-drop-down: "\e939";
$i-slider: "\e901";
$i-avatar2: "\e900";
$i-avatar-main: "\e92c";
$i-login-24px: "\e92b";
$i-We_Just_Sent_You_an_Email: "\e904";
$i-visible: "\e905";
$i-sports_basketball-24px: "\e906";
$i-settings-blue: "\e907";
$i-settings-black: "\e908";
$i-No_Result_Found-path1: "\e909";
$i-No_Result_Found-path2: "\e90a";
$i-No_Result_Found-path3: "\e90b";
$i-No_Result_Found-path4: "\e90c";
$i-No_Result_Found-path5: "\e90d";
$i-No_Result_Found-path6: "\e90e";
$i-No_Result_Found-path7: "\e90f";
$i-No_Result_Found-path8: "\e910";
$i-No_Result_Found-path9: "\e911";
$i-No_Result_Found-path10: "\e912";
$i-No_Result_Found-path11: "\e913";
$i-No_Result_Found-path12: "\e914";
$i-No_Result_Found-path13: "\e915";
$i-No_Result_Found-path14: "\e916";
$i-No_Result_Found-path15: "\e917";
$i-No_Result_Found-path16: "\e918";
$i-No_Result_Found-path17: "\e919";
$i-No_Result_Found-path18: "\e91a";
$i-No_Result_Found-path19: "\e91b";
$i-No_Result_Found-path20: "\e91c";
$i-No_Result_Found-path21: "\e91d";
$i-No_Result_Found-path22: "\e91e";
$i-No_Result_Found-path23: "\e91f";
$i-No_Result_Found-path24: "\e920";
$i-No_Result_Found-path25: "\e921";
$i-No_Result_Found-path26: "\e922";
$i-No_Result_Found-path27: "\e923";
$i-invisible: "\e924";
$i-description-24px: "\e925";
$i-Change_Password: "\e926";
$i-BG_ball_up: "\e927";
$i-BG_ball_down: "\e928";
$i-arrow_drop_up-24px: "\e929";
$i-arrow_drop_down-24px: "\e92a";
$i-checkmark1: "\e936";
$i-checkmark2: "\e937";
$i-search1: "\e903";
$i-next: "\e93d";
$i-previous: "\e93e";
$i-last: "\e93f";
$i-first: "\e940";
$i-forward: "\e941";
$i-backward: "\e942";
$i-stop: "\e943";
$i-pause: "\e944";
$i-enlarge: "\e945";
$i-enlarge1: "\e946";
$i-play: "\e947";
$i-checkmark: "\e933";
$i-spinner1: "\e932";
$i-spinner: "\e92d";
$i-check-circle-o: "\e934";
$i-check-circle: "\e935";
$i-chevron-right: "\e92e";
$i-chevron-left: "\e92f";
$i-chevron-down: "\e930";
$i-chevron-up: "\e931";
$i-search: "\e902";

