<div class="event-detail-wrapper">
  <h2>2 POINT {{team[action.team]}}</h2>
  <div class="event-type-wrapper">
    <h3>Select Type</h3>
    <div class="event-types">
      <div class="confirm-wrapper" ng-repeat="(key, value) in EventDetail.TwoPoints">
        <label>
          <input type="radio" ng-checked="key == 1" name="type" ng-click="setEventDetail($event, 'type', value)" />
          <span class="event-type">{{value}}</span>
        </label>
      </div>
    </div>
  </div>
  <div class="event-detail-players">
    <div>
      <h3>Select Player</h3>
      <div class="starting-players confirm-wrapper">
        <label ng-repeat="p in action.team == 1 ? playersHome.starting : playersAway.starting">
          <input type="radio" name="player" ng-click="setEventDetail($event, 'player_id', p);getCheck(p)" />
          <div class="team-player">
            <span>{{playersShirtNumber[p]}}</span>
          </div>
        </label>
      </div>
    </div>
    <div class="wall-players"></div>
    <div>
      <h3>Select Assistant</h3>
      <div class="starting-players confirm-wrapper">
        <label ng-repeat="p in action.team == 1 ? playersHome.starting : playersAway.starting">
          <input
            type="radio"
            name="assistant"
            ng-click="setEventDetail($event, 'assistant_id', p)"
            ng-if="playerId !== p"
          />
          <div class="team-player" ng-class="{'disabled' : playerId === p }">
            <span>{{playersShirtNumber[p]}}</span>
          </div>
        </label>
      </div>
    </div>
  </div>
  <div>
    <h3 class="fastBreakPoint" ng-click="fastBr()">
      Fastbreakpoint
      <input type="checkbox" ng-model="fastBreakPoint" />
    </h3>
    <h3>Change Possession ?</h3>
    <div class="confirm-wrapper confirm-wrapper">
      <label>
        <input type="radio" checked name="possession" />
        <span class="event-type" ng-click="action.changePossession = true">Yes</span>
      </label>
      <label>
        <input type="radio" name="possession" />
        <span class="event-type" ng-click="action.changePossession = false">No</span>
      </label>
    </div>
  </div>
  <div class="send-wrapper">
    <div class="event-detail-send" ng-click="event(Code.TwoPoints,action.team,EventType)">
      <span>Send</span>
    </div>
    <div class="undo-event" ng-click="undoEvent(Code.TwoPoints,action.team, lastSentEventId)">
      <span>Undo</span>
    </div>
  </div>
</div>
