<div class="login-wrapper">
  <div class="ins-log-wr">
    <div class="ins-log-content">
      <div class="ins-log-c-wr">
        <p class="welc-p">welcome to</p>
        <div class="d-img-deep">
          <img src="./assets/images/deeppro-logo.png" />
        </div>
        <form class="form-log" ng-submit="vm.login()">
          <div class="d-login-form pass">
            <div class="d-login-c" ng-class="vm.error ? 'border-red' : null">
              <!--to inp-log-page add, remove inp-valid class-->
              <input
                id="inp-l"
                ng-focus="vm.isUsernameInputActive = true"
                ng-blur="vm.isUsernameInputActive = false"
                ng-class="vm.user.login || vm.isUsernameInputActive ? 'inp-valid' : null"
                class="inp-log-page inp-log"
                type="text"
                autocomplete="nope"
                spellcheck="false"
                ng-model="vm.user.login"
              />
              <label class="lab-log" for="inp-l">Username</label>
            </div>
            <div class="d-login-c" ng-class="vm.error ? 'border-red' : null">
              <!--add remove class border-red-->
              <div class="inp-right-icon" ng-class="vm.viewPassword ? 'look': ''" ng-click="vm.togglePassword()">
                <!--add remove class look-->
                <i class="bc-icon-visibility"></i>
                <i class="bc-icon-visibility_off"></i>
              </div>
              <input
                id="inp-p"
                ng-focus="vm.ispasswordInputActive = true"
                ng-blur="vm.ispasswordInputActive = false"
                ng-class="vm.user.password || vm.ispasswordInputActive ? 'inp-valid' : null"
                class="inp-log-page inp-log"
                type="{{vm.viewPassword ? 'text': 'password'}}"
                autocomplete="new-password"
                spellcheck="false"
                ng-model="vm.user.password"
              />
              <label class="lab-log" for="inp-p">Password</label>
            </div>
            <p class="is-not-p" ng-if="vm.error">Your username or password is not correct.</p>
          </div>

          <div class="d-lab-con">
            <input id="inp-rem" type="checkbox" ng-model="vm.rememberMe" ng-checked="vm.rememberMe" />
            <label for="inp-rem" class="d-rem-me">
              <!--add remove class active-->
              <div class="rem-me-left active">
                <div class="check-sq">
                  <i class="bc-icon-checkmark"></i>
                </div>
              </div>
              <div class="rem-me-right">
                <p class="rem-me-r-p">Remember Me</p>
              </div>
            </label>
          </div>
          <div class="bt-login-con">
            <button class="btn-log" type="button" ng-click="vm.login()">Login</button>
          </div>
        </form>
        <p class="p-forg-pass">Forgot Password?</p>
        <div class="con-copyright">
          <div class="con-copyright-left">
            <div class="copyright-icon">
              <i class="bc-icon-copyright"></i>
            </div>
          </div>
          <div class="con-copyright-right">
            <p class="p-copyr">2020 Feedconstruct. All rights reserved</p>
          </div>
        </div>
      </div>
      <div class="ins-log-c-wr" style="display: none">
        <p class="p-for-you-pass">Forgot your password?</p>
        <div class="d-login-form">
          <form class="form-log">
            <div class="d-login-c">
              <input class="inp-log-page inp-for" type="email" placeholder="Email" />
            </div>
          </form>
        </div>
        <div class="bt-login-con">
          <button class="btn-log">Reset Password</button>
        </div>
      </div>
      <div class="ins-log-c-wr" style="display: none">
        <div class="change-p-con">
          <img src="./assets/images/Change_Password.svg" alt="" />
        </div>
        <p class="p-title-ch-pass">Change Password</p>
        <div class="d-login-form">
          <form class="form-log">
            <div class="d-login-c">
              <div class="inp-right-icon">
                <!--add remove class look-->
                <i class="bc-icon-visibility"></i>
                <i class="bc-icon-visibility_off"></i>
              </div>
              <input class="inp-log-page inp-for" type="email" placeholder="New Password" />
            </div>
          </form>
        </div>
        <div class="bt-login-con">
          <button class="btn-log">Change Password</button>
        </div>
      </div>
      <div class="ins-log-wr-m" style="display: none">
        <p class="ins-log-wr-p">We Just Sent You an Email</p>
        <p class="ins-wr-p-text">Please follow the instructions in the email to access your account.</p>
      </div>
      <div class="ins-log-c-wr" style="display: none">
        <p class="p-for-you-pass">Forgot your password?</p>
        <div class="d-login-form">
          <form class="form-log">
            <div class="d-login-c error">
              <!--add remove class error-->
              <input id="inp-not-cor" class="inp-log-page" type="email" value="am.65@gmail.com" />
              <label class="lab-not-cor" for="inp-not-cor">Email is not correct.</label>
            </div>
          </form>
        </div>
        <div class="bt-login-con">
          <button class="btn-log">Reset Password</button>
        </div>
        <div class="forg-d-pass-fl">
          <div class="forg-d-pass-fl-left">
            <p class="forg-l-text">Remember password?</p>
          </div>
          <div class="forg-d-pass-fl-right">
            <p class="forg-l-text">Login</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
