.bc-icon-arrow:before {
    content: '\e910';
  }
  .bc-icon-ball:before {
    content: '\e91a';
  }
  .bc-icon-delete:before {
    content: '\e91b';
  }
  .bc-icon-field:before {
    content: '\e91c';
  }
  .bc-icon-history:before {
    content: '\e91d';
  }
  .bc-icon-jump_ball:before {
    content: '\e91e';
  }
  .bc-icon-pause:before {
    content: '\e91f';
  }
  .bc-icon-play:before {
    content: '\e920';
  }
  .bc-icon-reverse:before {
    content: '\e921';
  }
  .bc-icon-star:before {
    content: '\e922';
  }
  .bc-icon-timeout:before {
    content: '\e923';
  }
  .bc-icon-additional_Information:before {
    content: '\e916';
  }
  .bc-icon-color:before {
    content: '\e917';
  }
  .bc-icon-shirt:before {
    content: '\e918';
  }
  .bc-icon-sort-down:before {
    content: '\e919';
  }
  .bc-icon-checkmark:before {
    content: '\e912';
  }
  .bc-icon-copyright:before {
    content: '\e913';
  }
  .bc-icon-visibility:before {
    content: '\e914';
  }
  .bc-icon-visibility_off:before {
    content: '\e915';
  }
  .bc-icon-chevron-small-left:before {
    content: '\e911';
  }
  .bc-icon-arrow_right:before {
    content: '\e924';
  }
  .bc-icon-cancel-circle:before {
    content: '\e90f';
  }
  .bc-icon-icon-close:before {
    content: '\e90e';
  }
  .bc-icon-arrow_drop_down:before {
    content: '\e900';
  }
  .bc-icon-arrow_drop_top:before {
    content: '\e901';
  }
  .bc-icon-description:before {
    content: '\e902';
  }
  .bc-icon-circle-check:before {
    content: '\e903';
  }
  .bc-icon-icon-light:before {
    content: '\e904';
  }
  .bc-icon-icon-dark:before {
    content: '\e905';
  }
  .bc-icon-icon-avatar:before {
    content: '\e906';
  }
  .bc-icon-keyboard_arrow_down:before {
    content: '\e907';
  }
  .bc-icon-icon-login:before {
    content: '\e908';
  }
  .bc-icon-circle-plus:before {
    content: '\e909';
  }
  .bc-icon-icon-setting:before {
    content: '\e90a';
  }
  .bc-icon-icon-refresh:before {
    content: '\e90b';
  }
  .bc-icon-icon-search:before {
    content: '\e90c';
  }
  .bc-icon-icon-sports_basketball:before {
    content: '\e90d';
  }
  