<div class="event-detail-wrapper">
  <div class="event-detail-left">
    <div class="event-type-wrapper">
      <div class="scroll-content event-type-center">
        <div class="jump-ball-title">
          <h2>Jump Ball</h2>
          <h3 class="">Select Type</h3>
        </div>
        <div class="event-types">
          <div class="confirm-wrapper" ng-repeat="(key, value) in EventDetail.JumpBall">
            <label>
              <input type="radio" name="type" ng-click="setEventDetail($event, 'type', value)" />
              <span class="event-type">{{value}}</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="event-detail-right">
    <div ng-if="action.type === 'Held Ball' || action.type === 'Contested rebound'" class="event-detail-players">
      <div>
        <h3 ng-if="action.type === 'Held Ball'">Select Player Turnover</h3>
        <h3 ng-if="action.type === 'Contested rebound'">Select Player For Rebound</h3>
        <div ng-if="arrowDir === 2" class="starting-players confirm-wrapper">
          <label ng-repeat="p in playersAway.starting">
            <input
              ng-if="action.type === 'Held Ball'"
              type="radio"
              name="player"
              ng-click="setEventDetail($event, 'assistant_id', p)"
            />
            <input
              ng-if="action.type === 'Contested rebound'"
              type="radio"
              name="player"
              ng-click="setEventDetail($event, 'rebound_player_id', p)"
            />
            <div class="team-player">
              <span ng-if="action.type === 'Held Ball'">{{playersShirtNumber[p]}}</span>
              <span
                ng-if="action.type === 'Contested rebound'"
                ng-click="setEventDetail($event, 'rebound_type', 'Offensive')"
                >{{playersShirtNumber[p]}}</span
              >
            </div>
          </label>
        </div>
        <div ng-if="arrowDir === 1" class="starting-players confirm-wrapper">
          <label ng-repeat="p in playersHome.starting">
            <input
              ng-if="action.type === 'Held Ball'"
              type="radio"
              ng-click="setEventDetail($event, 'assistant_id', p)"
            />
            <input
              ng-if="action.type === 'Contested rebound'"
              type="radio"
              name="player"
              ng-click="setEventDetail($event, 'rebound_player_id', p)"
            />
            <div class="team-player">
              <span ng-if="action.type === 'Held Ball'">{{playersShirtNumber[p]}}</span>
              <span
                ng-if="action.type === 'Contested rebound'"
                ng-click="setEventDetail($event, 'rebound_type', 'Offensive')"
                >{{playersShirtNumber[p]}}</span
              >
            </div>
          </label>
        </div>
      </div>
    </div>
    <div ng-if="action.type === 'Held Ball'" class="event-detail-players">
      <div>
        <h3>Select Player Steal</h3>
        <div ng-if="arrowDir === 1" class="starting-players confirm-wrapper">
          <label ng-repeat="p in playersAway.starting">
            <input
              ng-if="action.type === 'Held Ball'"
              type="radio"
              name="steal"
              ng-click="setEventDetail($event, 'player_id', p)"
            />
            <div class="team-player">
              <span ng-if="action.type === 'Held Ball'">{{playersShirtNumber[p]}}</span>
            </div>
          </label>
        </div>
        <div ng-if="arrowDir === 2" class="starting-players confirm-wrapper">
          <label ng-repeat="p in playersHome.starting">
            <input
              ng-if="action.type === 'Held Ball'"
              type="radio"
              name="steal"
              ng-click="setEventDetail($event, 'player_id', p)"
            />
            <div class="team-player">
              <span ng-if="action.type === 'Held Ball'">{{playersShirtNumber[p]}}</span>
            </div>
          </label>
        </div>
      </div>
    </div>
    <div ng-if="action.type === 'Lodged ball' || action.type === 'Out of bounds rebound' " class="event-detail-players">
      <h3 class="">Select Rebound Team</h3>
      <div class="event-types">
        <div class="ng-scope confirm-wrapper">
          <label>
            <input type="radio" name="rebound-type" ng-click="setEventDetail($event, 'rebound_type', 'Rebound')" />
            <span ng-click="action.reboundTeam = Team.Home" class="event-type">{{data.game.home_team}}</span>
          </label>
        </div>
        <div class="ng-scope confirm-wrapper">
          <label>
            <input type="radio" name="rebound-type" ng-click="setEventDetail($event, 'rebound_type', 'Rebound')" />
            <span ng-click="action.reboundTeam = Team.Away" class="event-type">{{data.game.away_team}}</span>
          </label>
        </div>
      </div>
    </div>
    <div class="send-wrapper">
      <div class="event-detail-send" ng-click="event(Code.JumpBall, arrowDir, EventType);closeArea()">
        <span>Send</span>
      </div>
      <div class="undo-event" ng-click="undoEvent(Code.JumpBall, action.team, lastSentEventId)">
        <span>Cancel</span>
      </div>
    </div>
  </div>
</div>
